.travellerList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  justify-content: center;

  padding: 0;
  margin: 0;
}

.title {
  margin: 0;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.showNext {
  border: 1px solid #4169e1;
  border-radius: 8px;
  width: 335px;
  height: 48px;
  background: #4169e1;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
