.travellerList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .travellerList {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    width: 704px;
  }
}

@media (min-width: 1440px) {
  .travellerList {
    row-gap: 24px;
    width: 1312px;
  }
}
